<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/admin.css')}}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 sidebar d-flex flex-column">
                <br>
                <br>
                <br>
                <img src="{{url_for('static',filename = 'images/img-20250204-wa0006-224x224.jpg')}}" alt="Logo"
                    class="logo">
                <a href="#product-management" class="active">Manage Products</a>
                <a href="#reviews-management">Manage Reviews</a>
                <a href="#invoice-management">View Invoices</a>
                <a href="{{ url_for('homepage') }}" class="back-btn">
                    &larr; Back to homepage
                </a>


            </nav>

            <!-- Main Content -->
            <main class="col-md-10 content fade-in">
                <!-- Product Management Section -->
                <section id="product-management" class="container my-5">
                    <h2 class="text-center text-muted mb-4">Manage Products</h2>

                    <!-- Product Form -->
                    <form id="productForm" class="mb-4 p-4 border rounded shadow-lg " style="background-color:#6DD6DA;"
                        method="post" action="/addproduct" enctype="multipart/form-data">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="productName" class="form-label">Product Name</label>
                                <input name="name" type="text" class="form-control" id="productName"
                                    placeholder="Enter product name" required>
                            </div>
                            <div class="col-md-4">
                                <label for="select">Saree Variety</label>
                                <br>
                                <select name="variety" id="select" style="
                                padding: 10px;
                                font-size: 16px;
                                border-radius: 8px;
                                border: 2px solid #4A90E2;
                                background-color: white;
                                color: #333;
                                outline: none;
                                cursor: pointer;
                                transition: all 0.3s ease;
                                width:max-content;
                            " >
                                    <option value="All">All</option>
                                    <option value="Banarasi">Banarasi</option>
                                    <option value="Kanjivaram">Kanjivaram</option>
                                    <option value="Patola">Patola</option>
                                    <option value="Chanderi">Chanderi</option>
                                    <option value="Surti">Surti</option>
                                    <option value="Sambalpuri">Sambalpuri</option>
                                    <option value="Tant">Tant</option>
                                    <option value="Kasavu">Kasavu</option>
                                    <option value="Bandhani">Bandhani</option>
                                    <option value="Leheriya">Leheriya</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label for="productPrice" class="form-label">Selling Price</label>
                                <input name="price" type="number" class="form-control" id="productPrice"
                                    placeholder="Enter selling price" required>
                            </div>
                        </div>
                        <div>
                            <label for="productDescription" class="form-label">Product Description</label>
                            <input name="description" type="text" class="form-control" id="productDescription"
                                placeholder="Enter product description" required>
                        </div>

                        <div class="row g-3 mt-3">
                            <div class="col-md-8">
                                <label for="productImage" class="form-label">Product Image</label>
                                <input name="image" type="file" class="form-control" id="productImage" accept="image/*"
                                    required>
                            </div>
                            <div class="col-md-4 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary w-100 shadow-lg transform-hover">Add
                                    Product</button>
                            </div>
                        </div>
                    </form>



                    <!-- Product List -->
                    <section id="product-list" class="section-container product-list-container" style="background-color: #9fecec;">
                        <h4 class="text-center text-muted" style="color: black;">Product List</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <table class="table table-striped table-hover table-bordered"
                                    style="border-radius: 20px;">
                                    <thead>
                                        <tr class="bg-info text-white">
                                            <th>#</th>
                                            <th>Product Name</th>
                                            <th>Description</th>
                                            <th>Variety</th>
                                            <th>Selling Price</th>
                                            <th>Image</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if all_products|length == 0 %}
                                        <tr>
                                            <td colspan="5" class="text-center text-danger">
                                                <h3>No products found.</h3>
                                            </td>
                                        </tr>
                                        {% else %}
                                        {% for product in all_products %}
                                        <tr class="table-row-hover" style="background-color: rgb(254, 210, 127);">
                                            <td>{{ loop.index }}</td> <!-- Automatically incrementing variable -->
                                            <td style="font-size: large;">{{ product.product_name }}</td>
                                            <td>{{ product.description }}</td>
                                            <td>{{ product.variety }}</td>
                                            <td>{{ product.selling_price }}</td>
                                            <td><img src="{{ product.product_image }}" alt="Product Image"
                                                    class="img-fluid rounded" style="max-width: 150px;"></td>
                                            <td>
                                                <form action="/delete_product" method="post">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                    <input type="hidden" value="{{product.product_id}}" name="id">


                                                </form>
                                            </td>
                                        </tr>

                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </table>
                        </div>
                    </section>

                    <hr class="my-4">
                    <!-- Reviews Management Section -->
                    <section id="reviews-management" class="container mt-5">
                        <h2 class="text-center text-muted mb-4">Manage Reviews</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead class="bg-info text-white">
                                    <tr>
                                        <th>Customer Name</th>
                                        <th>Description</th>
                                        <th>Visibility</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for review in all_reviews %}
                                    <tr class="table-row-hover">
                                        <td>{{ review.customer_name }}</td>
                                        <td>{{ review.description }}</td>
                                        <td>
                                            {% if review.visibility_on_homepage %}
                                            <span class="badge bg-success">Visible on Homepage</span>
                                            {% else %}
                                            <span class="badge bg-secondary">Hidden from Homepage</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <form
                                                    action="{{ url_for('toggle_visibility', review_id=review.review_id) }}"
                                                    method="POST" class="me-2">
                                                    {% if review.visibility_on_homepage %}
                                                    <button type="submit"
                                                        class="btn btn-warning shadow-lg transform-hover">Hide from
                                                        Homepage</button>
                                                    {% else %}
                                                    <button type="submit"
                                                        class="btn btn-primary shadow-lg transform-hover">Add to
                                                        Homepage</button>
                                                    {% endif %}
                                                </form>
                                                <form
                                                    action="{{ url_for('delete_review', review_id=review.review_id) }}"
                                                    method="POST" style="display:inline;">
                                                    <button type="submit"
                                                        class="btn btn-danger shadow-lg transform-hover"
                                                        onclick="return confirm('Are you sure you want to delete this review?');">Delete</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <hr class="my-4">
                    <!-- Invoice Management Section -->
                    <section id="invoice-management" class="container mt-5">
                        <h2 class="text-center text-muted mb-4">View Invoices</h2>

                        <table class="table table-striped table-hover table-bordered">
                            <thead class="bg-info text-white">
                                <tr>

                                    <th>Invoice ID</th>
                                    <th>Customer</th>
                                    <th>Total Amount</th>
                                    <th>Date & time</th>
                                    <th>Actions</th>
                                </tr>

                            </thead>
                            {% if all_invoice|length == 0 %}

                            <div class="table-responsive">
                                <h2>No Invoices Found</h2>
                                {% endif %}
                                <tbody>


                                    {% for invoice in all_invoice %}
                                    <tr class="table-row-hover">

                                        <td style="background-color:#6fe0ea85 ;">{{invoice.invoice_id}}</td>
                                        <td style="background-color:#6fe0ea85 ;">{{invoice.customer.username}}</td>
                                        <td style="background-color:#6fe0ea85 ;">{{invoice.total_amount}}</td>
                                        <td style="background-color:#6fe0ea85 ;">{{invoice.invoice_date}}</td>
                                        <td style="background-color:#6fe0ea85 ;">
                                            <div style="display: flex; flex-direction: row;">
                                                <form action="/download_invoice" method="POST" class="d-inline">
                                                    <input type="hidden" name="id" value="123">
                                                    <button type="submit" class="btn btn-info text-white me-3" style="background-color: #00d4d4;">
                                                        Download
                                                    </button>
                                                </form>
                                    
                                                <!-- View Button -->
                                                <button class="btn btn-primary" style="background-color: #008b8b;" onclick="openPDFModal('static/invoice/invoice_{{invoice.invoice_id}}.pdf')">
                                                    View
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
        </div>
        </section>
        </main>
    </div>
    </div>


    

    <!-- Modal for Viewing PDF -->
    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00d4d4; color: white;">
                    <h5 class="modal-title" id="pdfModalLabel">Invoice Preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- PDF Viewer -->
                    <iframe id="pdfViewer" src="" width="100%" height="600px" style="border: none;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript to open modal with PDF -->
    <script>
        function openPDFModal(pdfUrl) {
            document.getElementById('pdfViewer').src = pdfUrl;
            var pdfModal = new bootstrap.Modal(document.getElementById('pdfModal'));
            pdfModal.show();
        }
    </script>



    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>